// Mixin for DRY
@mixin center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin title-text-t($number) {
    font-size: $number;
}

@mixin title-text {
    text-align: center;
}

// Style Sheet Nested
.info {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid #26D0CE;
}

body {
    @include center;
    margin: 10px;
    background: #1A2980;
    background: linear-gradient(to left, #26D0CE, #1A2980);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;

    h1 {
        color: #f1f1f1;
        @include title-text-t(50px);
        @include title-text;
    }

    h2 {
        @include title-text-t(40px);
        @include title-text;
    }

    p {
        @include title-text-t(30px);
        @include title-text;
    }

    // MODULE JEU DE MORPION
    .container {
        display: grid;
        grid-template: repeat(3, 100px) / repeat(3, 100px);
        width: 300px;
        height: 300px;
        margin: 50px auto;
    }

    .cell {
        @include title-text-t(55px);
        width: 100px;
        height: 100px;
        color: #f1f1f1;
        border: 1px solid #f1f1f1;
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    // MODULE TYPING GAME
    .container-tg {
        background: #f1f1f1;
        padding: 15px;
        border-radius: 10px;
        // width: 900px;
        max-width: 50%;
        margin: 50px auto 0;
        color: #333;
    }

    .phraseAEcrire {
        margin: 20px 10px;
        font-size: 22px;
    }

    .phrase-test {
        background-color: transparent;
        border: 2px solid #333;
        font-size: 30px;
        color: #333;
        width: 80%;
        resize: none;
        padding: 30px;
        // font-family: Arial, Helvetica, sans-serif;
    }

    .correct {
        color: green;
    }

    .incorrect {
        color: red;
        text-decoration: underline;
    }

    // MODULE ARKANOID
    #cb>.score2 {
        text-align: center;
        font-size: 40px;
        margin: 30px 0 50px;
        color: #000;
    }

    .canvas2 {
        background: #f1f1f1;
        display: block;
        margin: 0 auto;
        width: 750px;
        height: 450px;
    }

    // MODULE SPACE INVADERS

    #si div.grille {
        // Eléments les uns à le suite des autres, en dessous s'ils n'ont plsu de places
        display: flex;
        flex-wrap: wrap;
        // Bordure, largeur et hauteur, espacement, box
        border: 1px solid #000;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        // Fond étoilé
        background: url(../../assets/ressources/background-black.png);
        animation: background-defile 5s linear infinite;
    }

    // Animation étoilé doucement vers le bas
    @keyframes background-defile {
        from {
            background-position-y: 0px;
        }

        to {
            background-position-y: 256px;
        }
    }

    .grille div {
        width: 25px;
        height: 25px;
    }

    .tireur {
        background: url(../../assets/ressources/vaisseau.png);
        transform: rotate(180deg); // Vaisseau tourné vers les ennemis
        background-position: center; // Centrer son personnage
        background-size: contain; // Bien afficher l'image
    }

    .alien {
        background: url(../../assets/ressources/ennemies.png);
        background-position: center;
        background-size: contain;
    }

    .boom {
        // Mort de l'ennemi
        background-color: red;
        border-radius: 2rem;
    }

    .laser {
        // Tir du héro
        background-color: orange;
    }

    // MODULE VISUALISATEUR AUDIO
    audio {
        @include center;
        max-width: 60%;
    }

    #canvas {
        // Adaptation d'écran
        @include center;
        margin-top: 2rem;
        width: 90% !important;
        max-width: 50%;
        background: #000;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    // LECTEUR VIDÉO
    .container-video {
        width: 800px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .video {
        width: 80%;
    }

    // Intégrer tout en bas de la vidéo, ressort au survol de la sourris
    .controls {
        width: 80%;
        display: flex;
        position: absolute;
        bottom: 0;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(90%);
        transition: all 0.2s;
    }

    .container-video:hover .controls {
        transform: translateY(0);
    }

    .buttons {
        padding: 5px 10px 10px;
    }

    .buttons button {
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;
        color: #fff;
    }

    // Mettre le son à zéro
    #mute {
        position: relative;
        top: -5px;
        margin: 0 12px;
    }

    #play-pause img {
        width: 30px;
        position: relative;
        top: 5px;
    }

    .barre-orange {
        height: 10px;
        width: 100%;
        background: #000;
        cursor: pointer;
    }

    .juice {
        height: 10px;
        background-color: orangered;
    }

    // Bouton pour passer la vidéo en plein écran
    #fullscreen {
        position: absolute;
        right: 15px;
        top: 25px
    }

    #fullscreen img {
        width: 20px;
    }

    // NOUVEAU MODULE
}